<!DOCTYPE html>

<html lang="en">
<!--...-->
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'firstCSSFile.css') }}">
</head>
<!--...-->

<body>
<div id = "navbar">
    <div id = "logo">
        COMPANy
    </div>
    </div>
<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>

<div class="parallax"></div>

</div>

<div id="first">
Scasdfghjkl
</div>


<div id="image">
    <img src="{{ url_for('static', filename = 'logo.jpg') }}" width="200" height="85">

</div>


</body>
</html>

