{% load static %}


body{

    background-color: transparent;
}
/* ~~~~~~~~~~~LOGO PLUS NAVIGATION BAR ~~~~~~~~~~~~~~~*/
#navigationbar{

   /*text-align: center;
        background-color: black;
        border: 1px solid white;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/*li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}*/
/*  nav Tags */
li a:hover {
    color: brown;
    font-size: 180%;
}

li {

    /*display: inline;
    float: left;*/
    /*text-align: left;*/
}
#test{
    /*background-color: red;*/

    display: inline-block;
    color: white;

    /*padding: 14px 16px;*/
    /*background-image: url("dhaba1.png");*/

    /*background-size: 300px 150px*/
}
#navUL{
    /*text-align: center;*/
    display: inline
    border: 1px solid white;
    background-color: white;
    padding: 10px 5px;
    color: black;
}

.after-parallax{
  /*padding-left: 350px;*/
  /*padding-right: 400px;*/
  margin:0 auto;
  /*background-color: yellow;*/
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: #f4f4f4;


}

#card-div{
  padding-left: 210px;
  height: 250px;
  width: 82.5%;
}

#after-parallax-img{
    width:auto; /*width of your image*/
    height:inherit; /*height of your image*/
    /*background-image:url('yourimage.file');*/
    margin:0; /* If you want no margin */
    padding:0; /*if your want to padding */
    width: 100%;
    -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

/*.row-ro {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}*/

.products{
    width: auto;
    height: auto;
    background-color: #f4f4f4;
    padding-left: 200px;
    padding-right: 200px

}

.products_slider{
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3

}
 #dhaba{
    height: 80px;
    width: 100px;
 }
#tag1{
    /*background-color: red;*/

    display: inline-block;
    text-align: center;
    float: right;
    padding: 14px 30px;
    font-family: "chalkduster", fantasy;
}
#tag2{
    /*background-color: red;*/
    text-align: center;
    float: right;
    padding: 14px 30px;
    font-family: "chalkduster", fantasy;
}
#tag3{
    /*background-color: red;*/
    text-align: center;
    display: inline-block;
    float: right;
    padding: 14px 30px;
    font-family: "chalkduster", fantasy;
}
#tag4{
    /*background-color: red;*/
    text-align: center;
    display: inline-block;

    float: right;
    padding: 14px 30px;
    font-family: "chalkduster", fantasy;
}

#footid{
  background-color: #2B5464;
}

/* ~~~~~~END OF LOGO PLUS NAVIGATION BAR ~~~~~~~~~~~~~~~*/


/* ~~~~~~~~~~~ PARALLAX ~~~~~~~~~~~~~~~*/



/* ~~~~~~~~~~~END OF PARALLAX ~~~~~~~~~~~~~~~*/
