{% load static %}


body{

    background-color: transparent;
}
/* ~~~~~~~~~~~LOGO PLUS NAVIGATION BAR ~~~~~~~~~~~~~~~*/
#navigationbar{

   /*text-align: center;
        background-color: black;
        border: 1px solid white;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/*li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}*/
/*  nav Tags */
li a:hover {
    color: brown;
    font-size: 180%;
}

li {

    /*display: inline;
    float: left;*/
    /*text-align: left;*/
}
#test{
    /*background-color: red;*/

    display: inline-block;
    color: white;

    /*padding: 14px 16px;*/
    /*background-image: url("dhaba1.png");*/

    /*background-size: 300px 150px*/
}
#navUL{
    /*text-align: center;*/
    display: inline
    border: 1px solid white;
    background-color: white;
    padding: 10px 5px;
    color: black;
}

.after-parallax{
  /*padding-left: 350px;*/
  /*padding-right: 400px;*/
  margin:0 auto;
  /*background-color: yellow;*/
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: #f4f4f4;


}

#card-div{
  padding-left: 210px;
  height: 250px;
  width: 82.5%;
}

#after-parallax-img{
    width:auto; /*width of your image*/
    height:inherit; /*height of your image*/
    /*background-image:url('yourimage.file');*/
    margin:0; /* If you want no margin */
    padding:0; /*if your want to padding */
    width: 100%;
    -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

/*.row-ro {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}*/

.products{
    width: auto;
    height: auto;
    background-color: #f4f4f4;
    padding-left: 200px;
    padding-right: 200px

}

.products_slider{
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3

}
 #dhaba{
    height: 80px;
    width: 100px;
 }
#tag1{
    /*background-color: red;*/

    display: inline-block;
    text-align: center;
    float: right;
    padding: 14px 30px;
    font-family: "chalkduster", fantasy;
}
#tag2{
    /*background-color: red;*/
    text-align: center;
    float: right;
    padding: 14px 30px;
    font-family: "chalkduster", fantasy;
}
#tag3{
    /*background-color: red;*/
    text-align: center;
    display: inline-block;
    float: right;
    padding: 14px 30px;
    font-family: "chalkduster", fantasy;
}
#tag4{
    /*background-color: red;*/
    text-align: center;
    display: inline-block;

    float: right;
    padding: 14px 30px;
    font-family: "chalkduster", fantasy;
}

#footid{
  /*background-color: #2B5464;*/
  background-color: #2B5464;


}

/* ~~~~~~END OF LOGO PLUS NAVIGATION BAR ~~~~~~~~~~~~~~~*/


/* ~~~~~~~~~~~ PARALLAX ~~~~~~~~~~~~~~~*/



/* ~~~~~~~~~~~END OF PARALLAX ~~~~~~~~~~~~~~~*/


/*_________Dashboard.html_____START_____*/

/*#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}*/



/*-----NAVBAR STUFFFFFF for Dashboard-----*/
@import url(http://fonts.googleapis.com/css?family=Raleway);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  border-bottom: 3px solid #47c9af;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#cssmenu ul {
  background: #ffffff;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: #47c9af;
}



/*---GENERAL STATUS DIV ----*/
#gen_image{
height: 100%;
width: 100%;

}
/*---END OF GENERAL STATUS DIV ----*/


/*------END OF NAV BAR STUFF for dashboard----*/



.mynav-wrapper{
  text-align: center;
height: 100;
width:auto;
background-color: #00CED1;
}

#font_dashboard{
font-size: 30;
color: white;
text-align: center;
font-family: "Times New Roman", Georgia, Serif;
}

#restof{
  height: 100%;
  width: auto;
  background-color: black;
}

#myflex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%auto;
    border: 1px black solid;
    margin: 0 auto;
}

.myflex-item {
    width: 400px;
    height: 400px;
    border: 1px black solid;
    background: brown;
}

.inbetween{
  width: auto;
  height: 20;
  background-color: white;

}

#general_status{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  width: auto;
  border: 1px black solid;
  margin: 0 auto;
  background-color: white;
}

.myflex-item2 {
    width: 1315px;
    height: 400px;
    border: 1px black solid;
    background: brown;
}
/*#empyt3{
  height: 500;
  width: 100;
  background-color: white;
}

#empty4{
  height: 500;
  width: 100;
  background-color: black;
}*/
