<!-- extend uses the base.html template, everything in the base.html will remain same except the things
in the block content will be different in index.html page-->

<!-- {% extends "foodML/base.html" %} -->

{% block content %}
<!-- <p>My staticpages homepage. {{today}}</p>
<ul>

</ul>

<br>
<br>

{% for item in today %}
Displaying or doing something with an item: {{ item }}
{% endfor %} -->

<!-- {% for o in 'devarshi'%}
    <tr class="{% cycle 'row1' 'row2' %}">
        ...
    </tr>
{% endfor %}

{% for o in 'devarshi'%}
    <tr class="{% cycle 'row1' 'row2' %}">
        ...
    </tr>
{% endfor %} -->


{% endblock %}
